@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  font-family: "Roboto", sans-serif; }
  body:before {
    content: " ";
    opacity: 0; }
  body[data="modal-show"] {
    overflow: hidden;
    transition: opacity 0.3s; }
    body[data="modal-show"] .section-wrapper {
      padding-right: 20px; }
    body[data="modal-show"]:before {
      padding-right: 15px;
      opacity: 1;
      transition: 0.3s;
      content: " ";
      background-color: rgba(0, 0, 0, 0.645);
      height: 100vh;
      width: 100vw;
      position: absolute;
      z-index: 9; }
  body .link {
    transition: color 0.3s;
    text-decoration: none;
    color: white; }
  body .link-dark {
    text-decoration: none;
    color: #2f343a; }
  body h2 {
    padding: 0;
    margin: 0; }
  body .section--text {
    max-width: 445px;
    color: white; }
    body .section--text__line-above {
      width: 90px;
      border-bottom: 6px solid #c8a35f;
      margin-bottom: 40px; }
    body .section--text__title {
      font-weight: bolder;
      font-size: 40px;
      font-size: 50px;
      text-transform: uppercase;
      margin-bottom: 10px; }
    body .section--text__body {
      margin-bottom: 45px; }
  body .btn-secondary {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    max-width: 120px;
    padding: 20px 50px;
    letter-spacing: 0.1em;
    text-decoration: none;
    background-color: #c8a35f;
    text-transform: uppercase; }
  body .empty-rectangle.dark {
    background-color: #2f343a;
    height: 550px; }
  body .empty-rectangle.light {
    background-color: #393f47;
    height: 480px; }
  body .empty-rectangle {
    z-index: 0;
    position: absolute;
    width: 410px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0; }
  body .nav-bar--header {
    display: none; }
  body .burger-btn {
    display: none; }

@keyframes btn_next {
  0% {
    padding-right: 50px; }
  50% {
    padding-right: 10px; }
  100% {
    padding-right: 50px; } }

@keyframes btn_prev {
  0% {
    margin-left: 0px; }
  50% {
    margin-left: 30px; }
  100% {
    margin-left: 0px; } }
  body .top-line {
    background-color: #c8a35f; }
    body .top-line--section-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      height: 45px;
      max-width: 1100px;
      font-size: 12px;
      font-weight: 400; }
      body .top-line--section-inner .languages {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 80px; }
        body .top-line--section-inner .languages--item {
          text-decoration: none;
          color: rgba(255, 255, 255, 0.5);
          transition: 0.3s; }
          body .top-line--section-inner .languages--item:hover {
            color: white; }
        body .top-line--section-inner .languages .active {
          color: white; }
      body .top-line--section-inner .contact .link {
        font-size: 12px;
        transition: 0.3s; }
        body .top-line--section-inner .contact .link:hover {
          color: rgba(255, 255, 255, 0.5); }
  body .first-line {
    padding: 10px 0;
    background-color: #2f343a; }
    body .first-line--section-inner {
      height: 45px;
      width: 100%;
      max-width: 1100px;
      margin: 0 auto;
      padding: 5px 0;
      display: flex;
      align-items: center; }
      body .first-line--section-inner .company-logo {
        padding-right: 30px;
        border-right: 1px solid rgba(255, 255, 255, 0.5); }
      body .first-line--section-inner .links-to-office {
        padding-left: 30px;
        display: flex;
        align-items: center; }
      body .first-line--section-inner .navbar-nav {
        margin-left: auto;
        display: flex;
        align-items: center; }
        body .first-line--section-inner .navbar-nav .nav-item + .nav-item {
          margin-left: 32px; }
        body .first-line--section-inner .navbar-nav .link:hover {
          transition: 0.3s;
          color: rgba(255, 255, 255, 0.5); }
  body .first-screen {
    background: url("/img/bg-first-screen.png");
    background-size: cover;
    background-repeat: no-repeat; }
    body .first-screen--section-inner {
      padding-top: 155px;
      position: relative; }
      body .first-screen--section-inner .screen-text {
        text-align: center;
        padding: 45px 75px;
        max-width: 720px;
        margin: 0 auto;
        border: 1px solid #c8a35f;
        margin-bottom: 140px; }
        body .first-screen--section-inner .screen-text--title {
          color: white;
          font-size: 20px;
          font-size: 64px;
          line-height: 75px;
          font-weight: bold;
          text-transform: uppercase; }
        body .first-screen--section-inner .screen-text--sub-title {
          line-height: 28px;
          padding-top: 20px;
          color: white;
          font-size: 18px; }
      body .first-screen--section-inner .screen-mouse {
        margin: 0 auto;
        padding-bottom: 50px;
        width: 50px;
        transition: 0.3s; }
        body .first-screen--section-inner .screen-mouse .img-mouse {
          display: block;
          width: 30px;
          height: 40px;
          margin: 0 auto;
          transition: 0.3s; }
          body .first-screen--section-inner .screen-mouse .img-mouse:hover {
            box-shadow: 0 0 10px rgba(255, 253, 253, 0.5);
            border-radius: 15px; }
  body .services {
    background-color: #393f47; }
    body .services--section-inner {
      position: relative;
      max-width: 1110px;
      margin: 0 auto;
      padding: 110px 0;
      display: flex; }
      body .services--section-inner #service-slider {
        max-width: 1100px;
        overflow: hidden;
        display: flex; }
        body .services--section-inner #service-slider .splide__pagination {
          display: none;
          position: absolute; }
        body .services--section-inner #service-slider .slider-navigation .splide__arrow {
          position: initial;
          z-index: initial;
          top: initial;
          transform: initial;
          height: initial;
          border-radius: initial;
          justify-content: initial;
          border: initial;
          padding: initial;
          opacity: initial;
          background: initial;
          display: flex;
          align-items: center;
          width: 160px; }
      body .services--section-inner .slider {
        width: 100%; }
        body .services--section-inner .slider .slide-item {
          display: flex;
          align-items: center;
          justify-content: space-between; }
          body .services--section-inner .slider .slide-item .section--text__body {
            color: white;
            font-size: 18px;
            line-height: 28px; }
          body .services--section-inner .slider .slide-item__image {
            padding-top: 40px; }
            body .services--section-inner .slider .slide-item__image .image-car {
              height: 265px;
              width: 445px; }
      body .services--section-inner .slider-navigation {
        margin-top: 10px;
        margin-left: auto;
        height: 320px;
        width: calc(100% + 40px); }
        body .services--section-inner .slider-navigation .slider-navigation__btn + .slider-navigation__btn {
          margin-top: 16rem; }
        body .services--section-inner .slider-navigation__btn {
          color: #c8a35f;
          text-transform: uppercase;
          font-weight: normal;
          text-align: center;
          font-size: 16px;
          display: flex;
          max-width: 160px;
          transition: 0.3s; }
        body .services--section-inner .slider-navigation #btn-prev.prev .prev-text {
          margin-left: auto; }
        body .services--section-inner .slider-navigation #btn-prev.prev .arrow-left {
          transform: rotate(180deg); }
        body .services--section-inner .slider-navigation #btn-prev.prev:hover .arrow-left {
          animation: 1.5s infinite btn_prev; }
        body .services--section-inner .slider-navigation #btn-next.next .next-text {
          padding-right: 50px; }
        body .services--section-inner .slider-navigation #btn-next.next:hover .next-text {
          animation: 1.5s infinite btn_next; }
  body .all-services {
    background-color: #2f343a; }
    body .all-services--section-inner {
      padding: 110px 0;
      max-width: 1110px;
      margin: 0 auto; }
      body .all-services--section-inner .all-services {
        padding-top: 60px;
        display: flex;
        flex-wrap: wrap;
        color: white;
        width: 100%; }
        body .all-services--section-inner .all-services .all-services-item {
          width: 275px;
          height: 125px;
          padding-top: 55px;
          border: 1px solid #2f343a;
          background-color: #393f47;
          transition: 0.3s; }
          body .all-services--section-inner .all-services .all-services-item:hover {
            background-color: #c8a35f; }
            body .all-services--section-inner .all-services .all-services-item:hover .all-services-item__img {
              border-radius: 50%;
              background-color: white;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 45px;
              height: 45px;
              margin: 0 auto; }
              body .all-services--section-inner .all-services .all-services-item:hover .all-services-item__img svg path {
                fill: #2f343a; }
          body .all-services--section-inner .all-services .all-services-item__img {
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 45px;
            height: 45px;
            margin: 0 auto;
            transition: 0.3s; }
            body .all-services--section-inner .all-services .all-services-item__img svg path {
              fill: white; }
          body .all-services--section-inner .all-services .all-services-item__title {
            text-align: center;
            padding-top: 33px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.05em; }
  body .about-compnay {
    background-color: #2f343a;
    padding: 5px 0px 120px; }
    body .about-compnay--section-inner {
      padding-top: 80px;
      position: relative;
      max-width: 1100px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between; }
      body .about-compnay--section-inner .section--text__body {
        font-size: 16px;
        line-height: 23px; }
      body .about-compnay--section-inner .info-cards {
        display: flex;
        flex-wrap: wrap;
        max-width: 610px;
        max-height: 320px; }
        body .about-compnay--section-inner .info-cards__item.text {
          background-color: white; }
        body .about-compnay--section-inner .info-cards__item {
          width: 200px;
          height: 160px;
          text-align: center;
          border: 1px solid #c8a35f; }
          body .about-compnay--section-inner .info-cards__item--quantity {
            padding-top: 10px;
            font-size: 64px;
            font-weight: 75px;
            font-weight: 700;
            color: #2f343a; }
          body .about-compnay--section-inner .info-cards__item--title {
            padding-bottom: 10px;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.05em;
            color: black; }
          body .about-compnay--section-inner .info-cards__item--sub-title {
            padding-top: 5px;
            font-size: 12px;
            line-height: 14px;
            font-weight: 400;
            color: black; }
          body .about-compnay--section-inner .info-cards__item .big-car {
            width: 200px;
            height: 160px; }
  body .map--section-inner {
    height: 450px;
    background: url("/img/map.png");
    background-size: cover;
    background-repeat: no-repeat; }
  body .footer {
    background-color: #c8a35f; }
    body .footer--section-inner {
      margin: 0 auto;
      max-width: 1100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 60px 0; }
      body .footer--section-inner .company-address {
        color: white;
        font-size: 14px;
        line-height: 16px; }
      body .footer--section-inner .company-email {
        padding-top: 5px;
        transition: 0.3s; }
        body .footer--section-inner .company-email:hover {
          opacity: 0.7; }
      body .footer--section-inner .phones .link:hover {
        color: rgba(255, 255, 255, 0.5); }
  @media (max-width: 1200px) {
    body .top-line--section-inner {
      max-width: calc(100% - 100px); }
    body .first-line--section-inner {
      max-width: calc(100% - 100px); }
    body .all-services--section-inner {
      max-width: calc(100% - 100px); }
    body .footer--section-inner {
      max-width: calc(100% - 100px); }
    body .about-compnay--section-inner {
      flex-wrap: wrap;
      justify-content: center;
      max-width: 610px; }
      body .about-compnay--section-inner .section--text {
        max-width: 100%; }
    body #service-slider.splide {
      max-width: 800px;
      overflow: hidden;
      display: flex;
      margin: 0 auto;
      flex-wrap: wrap; }
      body #service-slider.splide .slider-navigation.splide__arrows {
        margin-left: initial;
        height: initial;
        margin-top: 10px;
        margin: 10px auto;
        width: 160px; }
        body #service-slider.splide .slider-navigation.splide__arrows #btn-prev.slider-navigation__btn {
          margin-top: 15px;
          padding: 20px inherit; }
    body .all-services--section-inner .all-services {
      justify-content: center; } }
  @media (max-width: 992px) {
    body .first-line--section-inner .burger-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      border-radius: 2px;
      background-color: #c8a35f;
      margin-left: auto; }
    body .first-line--section-inner .navbar-nav {
      transition: 1s;
      display: none;
      opacity: 0; }
    body .first-line--section-inner .nav-bar--header {
      display: block; }
    body .first-line--section-inner .navbar-nav.mobile-navb-bar {
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      margin: 0 auto;
      cursor: pointer;
      position: fixed;
      max-width: 90%;
      margin: 0 auto;
      background-color: #2f343a;
      border: 1px solid #c8a35f;
      height: auto;
      text-align: center;
      min-width: 310px;
      z-index: 9;
      margin-top: 150px; }
      body .first-line--section-inner .navbar-nav.mobile-navb-bar .nav-bar--header {
        color: rgba(255, 255, 255, 0.878);
        padding: 15px 10px;
        border-bottom: 1px solid #c8a35f;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px; }
        body .first-line--section-inner .navbar-nav.mobile-navb-bar .nav-bar--header .hide-nav-bar {
          padding: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 3px solid #c8a35f;
          border-radius: 2px;
          transition: 0.3s; }
          body .first-line--section-inner .navbar-nav.mobile-navb-bar .nav-bar--header .hide-nav-bar:hover {
            background-color: #c8a35f; }
      body .first-line--section-inner .navbar-nav.mobile-navb-bar .nav-item {
        width: 100%;
        margin: initial;
        padding: 20px 0px;
        transition: 0.3s;
        border-bottom: 1px solid #c8a35f; }
        body .first-line--section-inner .navbar-nav.mobile-navb-bar .nav-item:hover {
          background-color: #393f47; }
    body .first-screen--section-inner .screen-text {
      max-width: 500px;
      margin-bottom: 50px; }
    body .first-screen--section-inner .screen-mouse {
      padding-bottom: 20px; }
    body #service-slider.splide {
      max-width: 768px; }
      body #service-slider.splide ul#service-slider-list {
        max-width: 768px; }
        body #service-slider.splide ul#service-slider-list .slide-item {
          padding: 0px 15px; }
          body #service-slider.splide ul#service-slider-list .slide-item .section--text__title {
            font-size: 28px; }
          body #service-slider.splide ul#service-slider-list .slide-item .section--text__bpdy {
            font-size: 14px; }
          body #service-slider.splide ul#service-slider-list .slide-item .slide-item__image .image-car {
            height: auto;
            width: 305px; }
          body #service-slider.splide ul#service-slider-list .slide-item .btn-secondary {
            padding: 15px 40px;
            font-size: 14px; } }
  @media (max-width: 768px) {
    body .first-screen--section-inner .screen-text {
      padding: 25px 20px; }
      body .first-screen--section-inner .screen-text--title {
        font-size: 32px; }
      body .first-screen--section-inner .screen-text--sub-title {
        font-size: 16px; } }
  body .services--section-inner #service-slider .slider-navigation {
    display: none; }
  body .services--section-inner #service-slider .splide__pagination {
    display: block;
    position: relative;
    margin: 20px auto;
    width: 50%; }
  body .all-services--section-inner .section--text__title {
    font-size: 28px; }
  body .all-services--section-inner .all-services .all-services-item {
    width: 132px;
    height: 62px;
    padding-top: initial;
    padding: 25px; }
    body .all-services--section-inner .all-services .all-services-item__title {
      font-size: 14px;
      padding-top: initial; }
  body .about-compnay--section-inner {
    padding: 0 30px; }
    body .about-compnay--section-inner .section--text__title {
      font-size: 28px; }
    body .about-compnay--section-inner .info-cards__item {
      width: 150px;
      height: 120px; }
      body .about-compnay--section-inner .info-cards__item--quantity {
        font-size: 48px; }
      body .about-compnay--section-inner .info-cards__item .big-car {
        width: 150px;
        height: 120px; }
  body .map--section-inner {
    height: 320px; }
  body .footer--section-inner {
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px; }
    body .footer--section-inner div {
      width: 100%;
      padding-bottom: 15px; }
  @media (max-width: 576px) {
    body .empty-rectangle {
      max-width: 60%;
      height: 360px; }
    body .top-line {
      height: 100px; }
      body .top-line--section-inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; }
        body .top-line--section-inner .languages,
        body .top-line--section-inner .contact {
          padding: 10px 0;
          width: 100%;
          text-align: center; }
    body .first-line {
      height: initial; }
      body .first-line--section-inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 100px;
        max-width: 90%; }
        body .first-line--section-inner .company-logo {
          padding: initial;
          border-style: none; }
          body .first-line--section-inner .company-logo .logo-img {
            display: block;
            margin: 0 auto; }
        body .first-line--section-inner .links-to-office--link {
          display: none; }
      body .first-line .navbar-nav.mobile-navb-bar {
        margin-top: 0px; }
    body .first-screen--section-inner {
      padding: 55px 10px; }
      body .first-screen--section-inner .screen-text--title {
        font-size: 22px; }
      body .first-screen--section-inner .screen-text--sub-title {
        font-size: 14px; }
    body .services--section-inner {
      padding: 60px 0px; }
      body .services--section-inner #service-slider.splide .slide-item {
        flex-wrap: wrap;
        justify-content: center; }
        body .services--section-inner #service-slider.splide .slide-item .section--text__body {
          font-size: 14px; }
        body .services--section-inner #service-slider.splide .slide-item .btn-secondary {
          margin: 0 auto; }
    body .about-compnay--section-inner .info-cards__item {
      width: 120px; }
      body .about-compnay--section-inner .info-cards__item .big-car {
        width: 120px; } }
