// ===== VARS =====

$secondary: #c8a35f;
$bg-dark: #2f343a;
$bg-light: #393f47;

// ===== / VARS =====

// ===== MIXINS =====
@mixin roboto {
  font-family: "Roboto", sans-serif;
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
}

@mixin transition {
  transition: 0.3s;
}

@mixin dbg($color) {
  border: 1px solid $color !important;
}
// ===== / MIXINS =====

// ===== COMMON =====
body {
  @include roboto;
}

.link {
  text-decoration: none;
  color: white;
}

.link-dark {
  text-decoration: none;
  color: $bg-dark;
}

h2 {
  padding: 0;
  margin: 0;
}

.section--text {
  max-width: 445px;
  color: white;

  &__line-above {
    width: 90px;
    border-bottom: 6px solid $secondary;
    margin-bottom: 40px;
  }
  &__title {
    font-weight: bolder;
    font-size: 40px;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__body {
    margin-bottom: 45px;
  }
}

.btn-secondary {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  max-width: 120px;
  padding: 20px 50px;
  letter-spacing: 0.1em;
  text-decoration: none;
  background-color: $secondary;
  text-transform: uppercase;
}

.empty-rectangle.dark {
  background-color: $bg-dark;
  height: 550px;
}

.empty-rectangle.light {
  background-color: $bg-light;
  height: 480px;
}

.empty-rectangle {
  z-index: 0;
  position: absolute;
  width: 410px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

@keyframes btn_next {
  
  0% {
    padding-right: 50px;
  }

  50% {
    padding-right: 10px;
  }

  100% {
    padding-right: 50px;
  }
}

@keyframes btn_prev {
  
  0% {
    margin-left: 0px;
  }

  50% {
    margin-left: 30px;
  }

  100% {
    margin-left: 0px;
  }
}


// ===== / COMMON =====

// ===== TOP_LINE =====
.top-line {
  background-color: $secondary;
  &--section-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 45px;
    max-width: 1100px;
    font-size: 12px;
    font-weight: 400;
    .languages {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 80px;
      &--item {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.5);
        @include transition;
        &:hover {
          color: white;
        }
      }

      .active {
        color: rgba(255, 255, 255, 1);
      }
    }

    .contact {
      .link {
        font-size: 12px;
      }
    }
  }
}
// ===== / TOP_LINE =====

// ===== FIRST_LINE =====

.first-line {
  padding: 10px 0;
  background-color: $bg-dark;
  &--section-inner {
    height: 45px;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 5px 0;
    display: flex;

    .company-logo {
      padding-right: 30px;
      border-right: 1px solid rgba(255, 255, 255, 0.5);
    }

    .links-to-office {
      padding-left: 30px;
      display: flex;
      align-items: center;
    }

    .navbar-nav {
      margin-left: auto;
      display: flex;
      align-items: center;
      .nav-item + .nav-item {
        margin-left: 32px;
      }
    }
  }
}

// ===== / FIRST_LINE =====

// ===== FIRST_SCREEN =====

.first-screen {
  background: url("/img/bg-first-screen.png");
  background-size: cover;
  background-repeat: no-repeat;
  &--section-inner {
    padding-top: 155px;
    position: relative;
    .screen-text {
      text-align: center;
      padding: 45px 75px;
      max-width: 720px;
      margin: 0 auto;
      border: 1px solid $secondary;

      &--title {
        color: white;
        font-size: 20px;
        font-size: 64px;
        line-height: 75px;
        font-weight: bold;
        text-transform: uppercase;
      }
      &--sub-title {
        line-height: 28px;
        padding-top: 20px;
        color: white;
        font-size: 18px;
      }
      margin-bottom: 140px;
    }
    .screen-mouse {
      margin: 0 auto;
      padding-bottom: 50px;
      width: 50px;
      @include transition;
      .img-mouse {
        display: block;
        width: 30px;
        height: 40px;
        margin: 0 auto;
        @include transition;

        &:hover {
          box-shadow: 0 0 10px rgba(255, 253, 253, 0.5);
          border-radius: 15px;
        }
      }
    }
  }
}

// ===== / FIRST_SCREEN =====

// ===== SERVICES =====
.services {
  background-color: $bg-light;
  &--section-inner {
    position: relative;
    max-width: 1110px;
    margin: 0 auto;
    padding: 110px 0;
    display: flex;

    #service-slider {
      max-width: 1100px;
      overflow: hidden;
      display: flex;

      //  --- kill dots

      .splide__pagination {
        display: none;
        position: absolute;
      }
      //  /--- kill dots

      .slider-navigation {
        .splide__arrow {
          // --- kill style arrow slider
          position: initial;
          z-index: initial;
          top: initial;
          transform: initial;
          height: initial;
          border-radius: initial;
          justify-content: initial;
          border: initial;
          padding: initial;
          opacity: initial;
          background: initial;
          // --- kill style arrow slider
          display: flex;
          align-items: center;
          width: 160px;
        }
        // padding-left: 3px;
      }
    }

    .slider {
      width: 100%;
      .slide-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .section--text {
          &__body {
            color: white;
            font-size: 18px;
            line-height: 28px;
          }
        }

        &__image {
          padding-top: 40px;
          .image-car {
            height: 265px;
            width: 445px;
          }
        }
      }
    }
    .slider-navigation {
      margin-top: 10px;
      margin-left: auto;
      height: 320px;
      width: calc(100% + 40px);
      .slider-navigation__btn + .slider-navigation__btn {
        margin-top: 16rem;
      }
      &__btn {
        color: $secondary;
        text-transform: uppercase;
        font-weight: normal;
        text-align: center;
        font-size: 16px;
        display: flex;
        max-width: 160px;
        @include transition;
      }

      #btn-prev.prev{
        .prev-text{
          margin-left: auto;
        }
        .arrow-left {
          transform: rotate(180deg);
        }
        &:hover{
          .arrow-left {
            animation: 1.5s infinite  btn_prev;
          }
        }
      }

      
      #btn-next.next{
        .next-text{
          padding-right: 50px;
        }
        &:hover{
        .next-text{
            animation: 1.5s infinite  btn_next;
          }
        }
      }

    }
  }
}

// ===== / SERVICES =====

// ===== ALL_SERVICES =====

.all-services {
  background-color: $bg-dark;
  &--section-inner {
    padding: 110px 0;
    max-width: 1110px;
    margin: 0 auto;
    .all-services {
      padding-top: 60px;
      display: flex;
      flex-wrap: wrap;
      color: white;
      width: 100%;
      .all-services-item {
        width: 275px;
        height: 125px;
        padding-top: 55px;
        border: 1px solid $bg-dark;
        background-color: $bg-light;
        @include transition;
        &:hover {
          background-color: $secondary;
          .all-services-item__img {
            border-radius: 50%;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 45px;
            height: 45px;
            margin: 0 auto;
            svg {
              path {
                fill: $bg-dark;
              }
            }
          }
        }

        &__img {
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 45px;
          height: 45px;
          margin: 0 auto;
          @include transition;
          svg {
            path {
              fill: white;
            }
          }
        }
        &__title {
          text-align: center;
          padding-top: 33px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 0.05em;
        }
      }
    }
  }
}

// ===== / ALL_SERVICES =====

// ===== ABOUT_COMPANY =====

.about-compnay {
  background-color: $bg-dark;
  padding: 5px 0px 120px;
  //padding-bottom: ;
  &--section-inner {
    padding-top: 80px;
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .section--text {
      &__body {
        font-size: 16px;
        line-height: 23px;
      }
    }

    .info-cards {
      display: flex;
      flex-wrap: wrap;
      max-width: 610px;
      max-height: 320px;
      &__item.text {
        background-color: white;
      }
      &__item {
        width: 200px;
        height: 160px;
        text-align: center;
        border: 1px solid $secondary;
        &--quantity {
          padding-top: 10px;
          font-size: 64px;
          font-weight: 75px;
          font-weight: 700;
          color: $bg-dark;
        }
        &--title {
          padding-bottom: 10px;
          font-size: 18px;
          line-height: 21px;
          letter-spacing: 0.05em;
          color: black;
        }

        &--sub-title {
          padding-top: 5px;
          font-size: 12px;
          line-height: 14px;
          font-weight: 400;
          color: black;
        }
        .big-car {
          width: 200px;
          height: 160px;
        }
      }
    }
  }
}

// ===== / ABOUT_COMPANY =====

// =====  MAP =====

.map {
  &--section-inner {
    height: 450px;
    background: url("/img/map.png");
    background-size: cover;
    background-repeat: no-repeat;

  }
}

// ===== / MAP =====

// ===== / FOOTER =====

.footer {
  background-color: $secondary;
  &--section-inner {
    margin: 0 auto;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;

    .company-address {
      color: white;
      font-size: 14px;
      line-height: 16px;
    }

    .company-email {
      padding-top: 5px;
    }
  }
}

// ===== / FOOTER =====

